scroll-behavior: smooth;
body {
    margin: 0;
    background-color: #000000;
    color: #FFF323;
    font-family: Arial, sans-serif;
}
section {
    min-height: 95vh;
    padding: 50px 0;
}
.hero {
    background-color: #000000;
    color: #FFF323;
    display: flex;
}
.korobka, .korobka2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95vh;
}
h1 {
    margin: 0;
    font-size: 100px;
}
h2 {
    margin: 0;
    font-size: 50px;
}
h3 {
    margin: 0;
    font-size: 30px;
}
.textcenter {
    text-align: center;
}
img {
    width: 80%;
}
.w50 {
    width: 30%;
}
input {
    display: block;
    margin: 30px 0;
    width: 100%;
    height: 30px;
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 0;
}
.Aboutme {
    background-color: hsl(0, 0%, 0%);
    color: #FFF323;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.korobka5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95vh;
}
h1 {
    margin: 0;
    font-size: 100px;
}
.textcenter {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}
.Projects {
    background-color: hsl(0, 0%, 0%);
    color: #FFF323;
    display: flex;
}
.textcenter3 {
    text-align: center;
}
#contactme {
    padding: 50px;
    color: #FFF323;
    background-color: #000000;
    position: relative;
    z-index: 3;
}
.m50 {
    margin: 50px;
}
section {
    min-height: 95vh;
}
.contact {
    background-color: #000000;
    color: #FFF323;
    display: flex;
}

/* Menu styles */
.logo {
    font-size: 30px;
    text-decoration: none;
    margin: 0 30px;
    font-weight: 600;    
}
.link {
    font-size: 30px;
    text-decoration: none;
    margin: 0 30px;
    color: #FFF323;
}
nav {
    border: 1px solid #FFF323;
    margin: 20px 50px;
    border-radius: 50px;
    width: calc(100% - 100px);
    color: #FFF323;
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 60px;
}
.right {
    position: absolute;
    right: 80px;
}
.btn {
    padding: 10px 30px;
    background-color: #FFF455;
    border-radius: 30px;
    color: black;
}
/* Highlight styles */
.piatno {
    z-index: 1;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 500px;
    left: 75%;
    box-shadow: 0px 0px 300px 300px #ffffff;
}
img {
    z-index: 2;
}
/* Blog styles */
#skills {
    padding: 600px 0;
}
.center{
    background-color: hsl(0, 0%, 0%);
    color: #FFF323;
    display: flex;
}
.card {
    width: 500px;
    background-color: #FFF323;
    padding: 50px;
    border-radius: 30px;
}
.w100 {
    width: 100%;
}
.cardbtn {
    text-decoration: none;
    width: 500px;
    display: block;
    margin: 50px auto; /* Adjusted margin to ensure spacing between cards */
}
.dflex {
    display: flex;
}
.w80 {
    width: 100%;
}
.chiutnizhe {
    margin-top: 50px;
}
.korobka3 {
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    color: #FFF323;
}
#contact {
    padding-top: 100px; /* Add space above the contact section */
}
@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 50px;
    }
    .hero h3 {
        font-size: 20px;
    }
    .korobka, .korobka2 {
        flex-direction: column;
        width: 100%;
    }
    .w50 {
        width: 80%;
    }
    .card {
        width: 80%;
        margin: 20px auto;
    }
    .nav {
        flex-direction: column;
        height: auto;
    }
}
